
<!DOCTYPE html">
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Création d&#39;un design étape par étape - Etape n°1 : Le code xhtml</title>
  </head>
  
  <body>
  <div id="conteneur">    
<h1 id="header"><a title="Colored Design - Accueil"><span>BIENVENUE CHEZ TEAM PYTHON PIZZA</span></a></h1>

    <nav>
      <ul id="menu">
        <li><a href="http://localhost:4200/commande">utilisateur</a></li>
        <li><a href="http://localhost:4200/commande/livreur">livreur</a></li>

      </ul>
    </nav>

  </div>
  </body>
</html>

<!--Docking the route-->
<router-outlet></router-outlet>